.bt_annuler{
    background-color: #112a41;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 0 40px;
    height: 40px;
    position: absolute;
    left: 3%;
    bottom: 0;
}
.div__search_main{
    position:relative;
    margin-bottom:20px;
}

.div-next-pre{
    height: 70px;
    display: flex;
    align-content:center;
    justify-content: center;
    align-items: center;
}
.next_pre_bt{
    background-color: #112a41;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 0 40px;
    height: 40px;
    margin: 0 20px;
}

@media (max-width: 970px) {
    .bt_annuler{
        position: absolute;
        bottom: -40px;
        left: 50%;

        transform: translate(8%, 20%);
        /* right: initial; */
        margin: 0px 0;
        width: 77%;
    }
    .div__search_main{
        position:relative;
        margin-bottom:40px;
    }
}

@media (max-width: 1300px) {
    .bt_annuler{
        bottom: -20px;
        left: 1.7%;
    }
    .div__search_main{
        
        margin-bottom:40px;
    }
}

@media (max-width: 1176px) {
    .bt_annuler{
        left :81%;
        bottom: 20px;

    }
    .div__search_main{
        margin-bottom:20px;
    }
}

@media (max-width: 1042px) {
    .bt_annuler{
        left :5%;
        right: 5%;
        bottom: -20px;

    }
    .div__search_main{
        margin-bottom:40px;
    }
}