/* lyes */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}

.my_ai_ContainerMap_Annonce {
  display: flex;
  justify-content: center;
}

.my_ai_map {
  flex-basis: 50%;
  height: 600px;
  border: 5px solid black;
}

.my_ai_Containerannonce {
  flex-basis: 50%;
  padding: 20px;
  flex-grow: 1;
  background: #f3f2f2;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  height: 600px;
  cursor: pointer;
}

.my_ai_annonce {
  background-color: #fff;
  border: 1px solid #f1f2f4;
  border-radius: 8px;
  margin-bottom: 13px;
  overflow: hidden;
  width: 50%;
  padding-bottom: 50px;
  position: relative;
}
.my_ai_imgai {
  max-width: 100%;
  height: auto;
}

.my_ai_prix {
  font-size: 24px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  padding-left: 15px;
}
.my_ai_adr {
  line-height: 1.5;
  color: #95a0aa;
  padding-left: 15px;
}

.my_ai_TypeSurface {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 15px;
}
.my_ai_typeai {
  margin-right: 20%;
}

.buttomdelete {
  background-color: #112a41;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 0 40px;
  height: 40px;
  position: absolute;
  right: 5px;
}

@media (max-width: 1200px) {
  .my_ai_annonce {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .my_ai_ContainerMap_Annonce {
    flex-direction: column;
  }
  .my_ai_map {
    flex-basis: auto;
  }
  .my_ai_Containerannonce {
    flex-basis: auto;
  }
  .my_ai_annonce {
    width: 50%;
  }
}
